@model IEnumerable<Truck.Domain.Entities.Caminhao>

@{
    ViewData["Title"] = "Index";
}

    <h3 class="text-info">Cadastro de Caminhões</h3>
    <p>
        <a class="btn btn-primary" asp-action="Create">Novo Registro</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoFabricacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoModelo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoFabricacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoModelo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"  class="btn btn-primary">EDITAR</a> |
                <a asp-action="Details" asp-route-id="@item.Id"  class="btn btn-primary">VER</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">DELETAR</a>
            </td>
        </tr>
}
    </tbody>
</table>
